*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
    font-family: sans-serif;
  }
  a{
    text-decoration: none;
    color: white;
  }
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10vh;
}

nav{
    color: #fff;
    background-color: #0378d1;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #0e0b0b;
    padding: 10px 20px;
    width: 100%;
}
nav i{
  font-size: 2rem;
  padding-left: 2vw;
}
nav h2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-transform: uppercase;
}
#wrapper{
  display: flex;
  flex-direction: column;
  gap: 3vh;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #05235c;
  padding: 3vh 10vw;
  border-radius: 13px;
}
.info-box{
  display: flex;
  flex-direction: column;
  gap: 0.2vh;
  align-items: center;
}
.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  font-size: 2rem;
}
#guessField{
  width: 100%;
  padding: 1vh;
  color: black;
  text-align: center;
  font-size: 1.2rem;
}
#subt{
  width: 70%;
  padding: 1vh;
  font-size: 1.2rem;
  border-radius: 4px;
  background-color: #fbc31c;
  font-weight: 600;
  border: none;
  transition: all 0.3s ease-in-out;
}
#subt:hover{
  cursor: pointer;
  background-color: #f3ca51;
}
.resultParas{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.2vh;
}
.lowOrHi{
  margin-top: 2vh;
  display: block;
  color: #fff;
  background-color: #05235c;
  font-size: 1.3rem;
  padding: 1vh 3vw;
  border-radius:4px;
}
#newGame{
  background-color: aquamarine;
  color: #000;
  padding: 1vh 3vw;
  margin-top: 2vh;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  align-self: center;
  justify-self: center;
}
#newGame:hover{
  cursor: pointer;
  background-color: #2feeaf;
}